table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    background-color: grey;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

* {
    background-color: tan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

a {
    background-color: black;
    color: white;
}

h2 {
    background-color: black;
    color: white;
    text-align: center;
}

h4 {
    background-color: black;
    color: white;
    text-align: center;
}

center {
    background-color: tan;
}

body {
    background-color: tan;
}